services:
  mysql-loaded:
    image: eclipse-temurin:21-jre-alpine
    command: >
      sh -c "while ! nc -z mysql 3306; do 
               echo 'Waiting for MySQL...'; 
               sleep 1; 
             done; 
             echo 'MySQL is up';"

  redis-loaded:
    image: eclipse-temurin:21-jre-alpine
    command: >
      sh -c "while ! nc -z redis 6379; do 
               echo 'Waiting for Redis...'; 
               sleep 1; 
             done; 
             echo 'Redis is up';"

  kafka-loaded:
    image: eclipse-temurin:21-jre-alpine
    command: >
      sh -c "while ! nc -z broker 9092 || ! nc -z schema-registry 8091; do 
               echo 'Waiting for kafka And Schema Registry...'; 
               sleep 1; 
             done; 
             echo 'kafka And Schema Registry is up';"

  public-rest:
    build:
      context: PublicRestEndpoint/public-rest-endpoint-webapp
      dockerfile: ../../Dockerfile
    ports:
      - "9080"
      - "9081"
    environment:
      SERVER_PORT: 9080
      MANAGEMENT_SERVER_PORT: 9081
      REDIS_HOST: redis
      POSTGRES_PORT: 5432
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_HOST: postgres
    healthcheck:
      test: ["CMD", "nc", "-z", "localhost", "9081"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 5s
    depends_on:
      mysql-loaded:
        condition: service_completed_successfully
      redis-loaded:
        condition: service_completed_successfully

  media-management:
    build:
      context: MediaManagement/MediaManagementWebApp
      dockerfile: ../../Dockerfile
    ports:
      - "9090"
      - "9091"
    environment:
      REDIS_HOST: redis
      SERVER_PORT: 9090
      MANAGEMENT_SERVER_PORT: 9091
      MYSQL_USER: user
      MYSQL_PASSWORD: aPassword
      MYSQL_HOST: mysql
    depends_on:
      mysql-loaded:
        condition: service_completed_successfully
      redis-loaded:
        condition: service_completed_successfully
    healthcheck:
      test: ["CMD", "nc", "-z", "localhost", "9091"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 5s

  media-player-endpoint:
    build:
      context: MediaPlayerEndpoint
      dockerfile: ../Dockerfile
    ports:
      - "9100"
      - "9101"
    environment:
      REDIS_HOST: redis
      SERVER_PORT: 9100
      MANAGEMENT_SERVER_PORT: 9101
      KAFKA_SCHEMA_REGISTRY_URL: http://schema-registry:8091
      KAFKA_BOOTSTRAP_SERVERS: broker:29092
    depends_on:
      kafka-loaded:
        condition: service_completed_successfully
      redis-loaded:
        condition: service_completed_successfully
    healthcheck:
      test: ["CMD", "nc", "-z", "localhost", "9101"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 5s


  admin-app:
    build:
      context: AdminEndpoint/admin-endpoint-web-app
      dockerfile: ../../Dockerfile
    ports:
      - "9110"
      - "9111"
    environment:
      SERVER_PORT: 9110
      PUBLIC_REST_PORT: 9080
      MANAGEMENT_SERVER_PORT: 9111
      REDIS_HOST: redis
      POSTGRES_PORT: 5432
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_HOST: postgres
    healthcheck:
      test: ["CMD", "nc", "-z", "localhost", "9111"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 5s
    depends_on:
      mysql-loaded:
        condition: service_completed_successfully
      redis-loaded:
        condition: service_completed_successfully
