services:
  mysql-loaded:
    image: eclipse-temurin:21-jre-alpine
    command: >
      sh -c "while ! nc -z $$MYSQL_HOST 3306; do 
               echo 'Waiting for MySQL...'; 
               sleep 1; 
             done; 
             echo 'MySQL is up - starting app';"
    environment:
      MYSQL_HOST: mysql
    networks:
      - shared-mysql-net
  public-rest:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - APP=PublicRestEndpoint
    ports:
      - "9080:8080"
      - "9081:8081"
    environment:
      MYSQL_USER: user
      MYSQL_PASSWORD: aPassword
      MYSQL_HOST: mysql
    healthcheck:
      test: ["CMD", "nc", "-z", "localhost", "8080"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 5s
    depends_on:
      mysql-loaded:
        condition: service_completed_successfully
    networks:
      - shared-mysql-net
  media-management:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - APP=MediaManagement
    ports:
      - "9090:8080"
      - "9091:8081"
    environment:
      MYSQL_USER: user
      MYSQL_PASSWORD: aPassword
      MYSQL_HOST: mysql
    depends_on:
      mysql-loaded:
        condition: service_completed_successfully
    healthcheck:
      test: ["CMD", "nc", "-z", "localhost", "8080"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 5s
    networks:
      - shared-mysql-net

networks:
  shared-mysql-net: