
.cell-header {
    border: 1px solid black;
    background-color: #61dafb;
    height: 5vh;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;

    /*justify-content: center;*/
    /*align-items: center;*/

    width: 90vw;
    height: 2.5vh;
}